$input-bg-color: #3b4148;
$input-focus-color: #434a52;
$input-text-color: #7a8086;
$submit-btn-color: #ea4c88;
$submit-text-color: #fff;
$body-bg-color: #717a82;
$body-text-color: #000;
$h-text-color: #563D64;
$login-bg-color: #2c3337;
$login-text-color: #7E7E7E;
$icon-background-color: #363b41;