.user-icon {
    transition: all 0.5s ease;
    background: $icon-background-color url('../icons/user.svg') no-repeat;
    font: 13px Helvetica, Arial, sans-serif;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0 0 10px;
    width: 20%;
    background-position: 23px 13px;
}

.lock-icon {
    transition: all 0.5s ease;
    background: $icon-background-color url('../icons/lock.svg') no-repeat;
    font: 13px Helvetica, Arial, sans-serif;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0 0 10px;
    width: 20%;
    background-position: 23px 13px;
}

.icon-input {
    display: flex;
}